/* # Front-end Style Guide
## Layout
The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

### Neutral
- Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
## Typography
### Fonts
- Weights: 200, 400, 600
*/
body {
  width: 1440px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  /* background-color: hsl(229, 6%, 66%); */
}

header {
  text-align: center;
  width: 37%;
  margin: 50px auto;
}
h1{
  font-weight: 100;
  color: hsl(229, 6%, 66%);

}

h1.bolder{
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

p{
  color: hsl(229, 6%, 66%);
}

.cards {
  width: auto;
  margin: auto;
  text-align: center;
}

/* cyan card supervisor */
.cyan_card {
  width: 300px;
  display: inline-block;
  border-top: hsl(180, 62%, 55%) solid 3px;
  text-align: left;
  padding: 8px 35px 8px 18px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 14px 28px -10px hsl(229, 6%, 66%);
  position: relative;
  top: 150px;

}

.cyan_card_logo {
  padding-left: 80%;
  transition: 1s;
}

/* red card team Builder */
.red_card {
  width: 300px;
  display: inline-block;
  border-top: hsl(0, 78%, 62%) solid 3px;
  text-align: left;
  padding: 8px 35px 8px 18px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 14px 28px -10px hsl(229, 6%, 66%);

}

.red_card_logo {
  padding-left: 80%;
  transition: 1s;
}

/* orange card karma*/
.orange_card {
  width: 300px;
  display: inline-block;
  border-top: hsl(34, 97%, 64%) 3px solid;
  text-align: left;
  padding: 8px 35px 8px 18px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 14px 28px -10px hsl(229, 6%, 66%);

}

.orange_card_logo {
  padding-left: 80%;
  transition: 1s;
}

/* blue card Calculator*/
.blue_card {
  width: 300px;
  display: inline-block;
  border-top: hsl(212, 86%, 64%) 3px solid;
  text-align: left;
  padding: 8px 35px 8px 18px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0px 14px 28px -10px hsl(229, 6%, 66%);
  position: relative;
  top: 150px;
}

.blue_card_logo {
  padding-left: 80%;
  transition: 1s;
}
